:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

body{
    background-color: var(--violet);
    color: #ffffff;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../assets/images/bg-mobile.svg);
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px){
    body{
        max-width: 1440px;
        background-image: url(../assets/images/bg-desktop.svg);
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }
}


.title{
    font-family: 'Poppins', sans-serif;
}

.logo{
    max-width: 45% ;
    margin-bottom: 55px;
}

@media screen and (min-width: 768px){
    .logo{
        max-width: 15%;
        margin-bottom: 100px;
        margin-left: 90px;
        margin-top:25px
    }
}

.illustration-mockup{
    max-width: 100%;
}

@media screen and (min-width: 768px){
    .main{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }
}

.article{
    text-align: center;
}

@media screen and (min-width: 768px){
    .article{
        text-align: left;
        width: 460px;
    }
}

@media screen and (min-width: 768px){
    .title{
        font-size: 40px;
    }
}

.button{
    display: inline-block;
    text-decoration: none;
    color: var(--violet);
    background-color: #ffffff;
    padding: 15px 75px;
    border-radius: 25px;
    margin: 25px 0 50px 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 30%);
}

@media screen and (min-width: 768px){
    .button:hover{
        background-color: var(--soft-magenta);
        color: #ffffff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 30%);
    }
}

@media screen and (min-width: 768px){
    .footer{
        display: flex;
        justify-content: end;
        align-items: center;
    }
}


.social{
    display: flex;
    padding-left: 0;
    align-items: center;
    margin:0;
    list-style: none;
    justify-content: center;   
}

.social__item{
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 10px;
    padding:5px;
    text-align: center;
    line-height: 25px;
}

@media screen and (min-width: 768px){
    .social__item:hover{
        color: var(--soft-magenta);
        border-color: var(--soft-magenta);
    }
}


.social__link{
    color:inherit;
}